
<body>
<main>
    {{>header}}
    {{{pageHeaderImg about}}}
  <section class="text-content-block">
    <div class="container">
       <div class="row">
        <div class="col-12 wow" data-splitting>
          <h3 class="section-title">Our Mission</h3>
        </div>
        <!-- end col-12 -->
        <div class="col-12 wow" data-splitting>
          <h5> <span style="font-size: 2em;">STNON TECHNOLOGIES</span> is a company focused to make computing hardware & Software in India.
              We’re on a mission to gather a group of technologists, engineers, designers, and thinkers to make a new edge.
              Create a powerful nation not just pretend The race for digital transformation is on. 
              In this globally connected on-demand world with rapid advancements in the internet.
              Technologies, businesses of worldwide are under constant pressure to add innovative real-time capabilities to their applications to respond to market opportunities.
              We’re relentlessly curious about all the ways how computing can change the world.
              We’re currently obsessed with advancing the state of the art in AI and hybrid cloud and defining the future of quantum computing.
              The the confluence of the technologies we’re building represents a step-change in computing that will surpass anything we’ve seen before.
              Together, they can exponentially alter the speed and scale at which we can uncover solutions to complex problems.
            </h5>
        </div>   
      </div>
    </div>
  </section>
  <section class="intro-image light">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="office-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <figure class="reveal-effect masker wow"> <img src="images/innovate.webp" alt="Image">
                                        <figcaption>
                                            <h6>INNOVATE</h6>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- end swiper-slide -->
                                <div class="swiper-slide">
                                    <figure> <img src="images/discover.webp" alt="Image">
                                        <figcaption>
                                            <h6>DISCOVER</h6>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- end swiper-slide -->
                                <div class="swiper-slide">
                                    <figure> <img src="images/develope.webp" alt="Image">
                                        <figcaption>
                                            <h6>DEVELOPE</h6>
                                        </figcaption>
                                    </figure>
                                </div>
                                 <div class="swiper-slide">
                                    <figure> <img src="images/protect.webp" alt="Image">
                                        <figcaption>
                                            <h6>PROTECT</h6>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- end swiper-slide -->
                            </div>
                            <!-- end swiper-wrapper -->
                            <div class="swiper-pagination"></div>
                            <!-- end swiper-pagination -->
                        </div>
                        <!-- end office-slider -->
                    </div>
                    <!-- end col-12 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
  </section>
 <section class="icon-content-block">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 wow" data-splitting>
                        <h3 class="section-title">THE THINGS<br> WE ARE ABLE TO DO</h3>
                    </div>
                    <!-- end col-12 -->
                    <div class="col-lg-3 col-md-4 wow" data-splitting>
                        <div class="content-block">
                            <figure> <img src="images/services.gif" alt="Image"> </figure>
                            <h6>Hardware Products</h6>
                            <ul>
                                <li>Desktop Laptop Repairing</li>
                                <li>Manufacturing</li>
                                <li>Circuit Design</li>
                                <li>Developement</li>
                            </ul>
                        </div>
                        <!-- end content-block -->
                    </div>
                    <!-- end col-3 -->
                    <div class="col-lg-3 col-md-4 wow" data-splitting>
                        <div class="content-block">
                            <figure> <img src="images/security.png" alt="Image"> </figure>
                            <h6>Securtiy Products</h6>
                            <ul>
                                <li>CCTV </li>
                                <li>Video Door Phone</li>
                                <li>Alarm System</li>
                                <li>Smoke Gas Detectors</li>
                                <li>Smart Home Solutions</li>
                            </ul>
                        </div>
                        <!-- end content-block -->
                    </div>
                    <!-- end col-3 -->
                    <div class="col-lg-3 col-md-4 wow" data-splitting>
                        <div class="content-block">
                            <figure> 
                                <!-- <img src="images/application.png" alt=""> -->
                                <img src="images/coding.gif" alt="Image"> </figure>
                            <h6>APPLICATION DEVELOPMENT</h6>
                            <ul>
                                <li>Web Developement</li>
                                <li>Mobile App Developement</li>
                                <li>Custom Developement</li>
                                <!-- <li>UI/UX Design</li> -->
                            </ul>
                        </div>
                        <!-- end content-block -->
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
</section>

  <section class="testimonials">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="testimonials-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial wow" data-splitting>
                  <blockquote>Where our journey was started?</blockquote>
                  <blockquote>
                              A Long story in short, in the year 2018 some problem happened in my life I haven’t think what to do Can’t even
                              decided how can survive or prove myself how can I be immortal? What was my role in nature or life?
                              Can I do something for our nation? can’t even get any answers so I decided to make a company. And we three
                              idiots are meet and decide to change the nation or the world.
                  </blockquote>
                  <div class="reviewer"> <img src="images/sagar.jpg" alt="Image">
                    <div class="reviewer-infos">
                      <h6>Sagar Rajbanshi</h6>
                      <small>Founder & CEO</small>
                      <small>Stnon Technologies</small> </div>
                    <!-- end reviewer-infos --> 
                  </div>
                  <!-- end reviewers --> 
                </div>
                <!-- end testimonial --> 
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow" data-splitting>
          <h3 class="section-title">ALL ABOUT<br>
            THE OUR TEAM</h3>
        </div>
        {{!-- <!-- end col-8 -->
        <div class="col-lg-6 wow" data-splitting>
          <h5>We work closely with your development team. markettting profissionals and stakeholder to design and develop UX and UI that make your website. application or software a joy to use,</h5>
        </div>
        <!-- end col-4 -->  --}}
      </div>
      <div class="row">
        <div class="col">
          <figure class="reveal-effect masker wow">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
            <img src="/images/happy.jpg" alt="Image">
            <figcaption class="wow" data-splitting> <h6>Swapnendu Halder</h6> <small>CO-FOUNDER</small> </figcaption>
          </figure>
        </div>
        <div class="col">
          <figure class="reveal-effect masker wow">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
            <img src="images/sagar.jpg" alt="Image">
            <figcaption class="wow" data-splitting> <h6>Sagar Rajbanshi</h6> <small>FOUNDER & CEO</small> </figcaption>
          </figure>
        </div>
        <div class="col">
          <figure class="reveal-effect masker wow">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
            <img src="/images/subhadip.jpg" alt="Image">
            <figcaption class="wow" data-splitting> <h6>Subhadip Maji</h6> <small>CO-FOUNDER</small> </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  
  {{>footer}}
</main>
</body>