<body>
    <main>
        {{>header}}
        {{{pageHeaderImg anywhere}}}
         <section class="blog">
    <div class="container">
    	<div class="row justify-content-center">
    		<div class="col-lg-10">
    			<div class="post single">
    				<figure class="post-image">
    					<img src="/images/anywhere.webp" alt="Image">
    				</figure>
    				<div class="post-content">
    					<h3 class="post-title" style="font-size: 5em;">ANYWHERE</h3>
                        <span><b>Social Intregation Division</b></span> <br><br>
						<p>“One individual may die for an idea, but that idea</p>
                        <p>will, after his death, incarnate itself in a thousand lives.” </p>
                        <b>Subhas Chandra Bose</b>
                        <br><br>
   				        <h3>Reality</h3>
                        <p>
                          Should we really think about what apps or digital platform we use most on our daily basis? -YES.
                        </p> <br>
                        <p>
                         We talk to each other, live together, which behavior makes us human.
                         In India, there is more to know. What is the meaning of India?
                        Love, Togetherness and Joy.
                        </p>
						<figure class="image-left"><img src="/images/digital_world.webp" alt="Image"></figure>
                        <p>
                            In the 21st century we have made our life so busy that we don't have enough time to communicate with others. So, the only way of communication is a digital platform, specifically a social networking platform.
                            After COVID situation we rely more on these. 
                            But the main problem is that these social networking companies belong to different countries.
                            They provide us with their platform for free. 
                            Free, right? Nothing is free in ourworld. Digital data is the key in the digital space.
                        </p>
                        <p>
                            So, we should have a question in mind, where our data goes and who has rights to control our digital data.  Is that right?  They have full control over our every information which we generate on a daily basis. With our information they can do whatever for their personal gain. And that’s what they do. On the internet, there are many reports of them using data illegally.
                        </p>
						<p>
                            Despite knowing the fact, we still have to depend on them. Why we not develop on our own?
                            Till now India has very few companies, who have capability to build such a platform.
                            Due to lack of support and funding, they failed to build.  
                        </p>
                        <p>
                            We all know that India has enough talent to make it. But, they are leaving our country due to lack of infrastructure. Not getting any support for fulfilling their dreams. Afterall, they work for different countries and build them powerful. Finally we’ve lost their innovation and ideas.
                            For those who decided to stay here, but didn’t get any opportunity and gradually lost their innovative minds. 
                            We just want to stop from draining our talents and unify all innovative minds.
                        </p>

                        <h3>So we decided to make our own</h3>
                        <p>
                            Yes, we believe we have enough capabilities to build the entire platform. Control the information which is ours instead of relying on such other companies which originated from different nations. All we need is your support and some small contribution. 
                            Let's get together to build a better workplace for young innovative minds. Make our nation powerful.
                        </p>
                        <b>Thank You</b>
                        <br><br>
                        
    		        </div>
    	        </div>
            <div class="container">

                <div class="row">
                    <div class="col-lg-9">
                        <h3 style="font-size: 3em;">Our Projects</h3>
                        <div class="post">
                        <figure class="post-image">
                            <img src="/images/im.webp" alt="Image">
                        </figure>
                        <div class="post-content">
                            <h3 class="post-title"><a href="#">I'M</a></h3>
                            <span><b>A Messaging App</b></span> <br>
                            <span>Launch in August, 2022</span> <br> <br>
                            <a href="/projects/anywhere/im" class="post-link">READ MORE</a>
                        </div>
    			        </div>
                        <div class="post">
                        <figure class="post-image">
                            <img src="/images/we.webp" alt="Image">
                        </figure>
                        <div class="post-content">
                            <h3 class="post-title"><a href="#">WE</a></h3>
                            <span><b>A Social Media Platform</b></span> <br><br>
                            <a href="/projects/anywhere/we" class="post-link">READ MORE</a>
                        </div>
    			        </div>
                        <div class="post">
                        <figure class="post-image">
                            <img src="/images/dreamy.webp" alt="Image">
                        </figure>
                        <div class="post-content">
                            <h3 class="post-title"><a href="#">DREAMY</a></h3>
                            <span><b>A Short Video platform</b></span><br><br>
                            <a href="/projects/anywhere/dreamy" class="post-link">READ MORE</a>
                        </div>
    			        </div>
                        <div class="post">
                        <figure class="post-image">
                            <img src="/images/live.webp" alt="Image">
                        </figure>
                        <div class="post-content">
                            <h3 class="post-title"><a href="#">LIVE</a></h3>
                            <span><b>A Video Conference App</b></span> <br><br>
                            <a href="/projects/anywhere/live" class="post-link">READ MORE</a>
                        </div>
    			        </div>
                        <div class="post">
                        <figure class="post-image">
                            <img src="/images/notes.webp" alt="Image">
                        </figure>
                        <div class="post-content">
                            <h3 class="post-title"><a href="#">NOTES</a></h3>
                            <span><b>An Online Learning Platform</b></span> <br><br>
                            <a href="/projects/anywhere/notes" class="post-link">READ MORE</a>
                        </div>
    			        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
  </section>
        {{>footer}}
    </main>
</body>