<body>
    <main>
        {{>header}}
        {{{pageHeaderImg astika}}}
        <section class="blog">
            <div class="container">
                <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="post single">
                    <figure class="post-image">
                        <img src="/images/astika.webp" alt="Image" />
                    </figure>
                    <div class="post-content">
                        <h3 class="post-title" style="font-size: 5em">ASTIKA</h3>
                        <span><b>A Crypto Coin</b></span> <br><br>
                        <p>
                            Astika ss a cryptocurrency that is focused to create a new form of money specifically designed for India. And the main base of it is blockchain enhanced security and the ultimate capability gaining is our target.
                        </p>
                        <br>
                        <p>
                            This Technology is new for us but the world is already a step ahead many big countries and organizations are our competitor in the nation there was very few who wanted to take a step in the blockchain Our decision is cleared we already got enef research on that subject and our baseline planning is completed now it's time to make it possible.
                        </p>
                        <br>
                        <p>
                            Cryptocurrency is not officially granted permission from our government but if we wanted to maintain the race with other countries then overall it will approve by the government
                            Because many countries accepted crypto currency, if we do not agree or approve then we gated the old radio alongside the near edge smartphone so few there still can’t hear about the blockchain or cryptocurrency.
                        </p>
                        <br>
                        <h3>What is blockchain?</h3>
                        <figure class="image-left"><img src="/images/bc.webp" alt="Image"></figure>
                        <p>
                            A blockchain is a distributed database that is shared among the nodes of a computer network. As a database, a blockchain stores information electronically in digital format.
                            Blockchains are best known for their crucial role in cryptocurrency systems
                            for maintaining a secure and decentralized record of transactions. The innovation with a blockchain is that it guarantees the fidelity and security of a record of data and generates
                            trust without the need for a trusted third party. One key difference between a typical database and a blockchain is how the data is structured. A blockchain
                            collects information together in groups, known as blocks, that hold sets of information. Blocks have certain storage capacities and, when filled, are closed and
                            linked to the previously filled block, forming a chain of data known as the
                            blockchain. All-new information that follows that freshly added block is
                            compiled into a newly formed block that will then also be added to the chain
                            once filled. A database usually structures its data into tables,
                            whereas a blockchain, like its name, implies, structures its data into chunks
                            (blocks) that are strung together. This data structure inherently makes an
                            irreversible timeline of data when implemented in a decentralized nature. When
                            a block is filled, it is set in stone and becomes a part of this timeline.
                        </p>
                        <br>
                        <p>
                            Each block in the chain is given an exact timestamp when it is added to the
                            Chain. How Does a Blockchain Work? The goal of blockchain is to allow digital information to
                            be recorded and distributed, but not edited. In this way, a blockchain is a
                            foundation for immutable ledgers, or records of transactions that cannot be
                            altered, deleted, or destroyed. This is why blockchains are also known as distributed
                            ledger technology (DLT).
                        </p>
                        <br>
                        <h3>Is Blockchain Secure?</h3>
                        <p>
                            Blockchain technology achieves decentralized security and trust in several ways. To begin with, new blocks are always stored linearly and chronologically. That is, they are always added to the
                            “end” of the blockchain. After a block has been added to the end of the
                            blockchain is extremely difficult to go back and alter the contents of the block
                            unless a majority of the network has reached a consensus to do so. That’s
                            because each block contains its hash, along with the hash of the block before it, as
                            as well as the previously mentioned time stamp. Hash codes are created by a mathematical
                            function that turns digital information into a string of numbers and letters.
                            If that information is edited in any way, then the hash code changes as well.
                            Let’s say that a hacker, who also runs a node on a blockchain network wants to alter a blockchain and steal cryptocurrency from everyone else. If they were to alter their single copy,
                            it would no longer align with everyone else’s copy. When everyone else
                            cross-references their copies against each other, they would see this one copy
                            stand out, and that hacker’s version of the chain would be cast away as
                            Illegitimate. Let’s say that a hacker, who also runs a node on a
                            blockchain network wants to alter a blockchain and steal cryptocurrency from
                            everyone else. If they were to alter their single copy, it would no longer align with everyone else’s copy. When everyone else cross-references their
                            copies against each other, they would see this one copy stand out, and that
                            a hacker's version of the chain would be cast away as illegitimate.
                        </p>
                        <br>
                        <p>
                            Succeeding with such a hack would require that the hacker simultaneously control and alter 51% or more of the copies of the blockchain so
                            that their new copy becomes the majority copy and, thus, the agreed-upon chain.
                            Such an attack would also require an immense amount of money and resources, as
                            they would need to redo all of the blocks because they would now have different
                            timestamps and hash codes. 

                            Due to the size of many cryptocurrency networks and how
                            fast they are growing, the cost to pull off such a feat
                            probably would be insurmountable. This would be not only extremely
                            expensive but also likely fruitless. Doing such a thing would not go unnoticed, as
                            network members would see such drastic alterations to the blockchain. The
                            network members would then hard fork off to a new version of the chain that has not
                            been affected. 
                        </p>
                        <br>
                        <p>
                            This would cause the attacked version of the token to plummet in
                            value, making the attack ultimately pointless, as the bad actor has control of
                            a worthless asset. The same would occur if the bad actor were to attack the new
                            fork of Bitcoin. It is built this way so that taking part in the network is far more economically incentivized than attacking it. So I already explained to you enough and think you felt
                            bored in some way  So in the short possibility of making a new edge and our decisions are creating a new world of innovation. It’s a contribution to the nation and the goal was tough but possible  Making a difference is targeted but needed the support from everyone 
                            If you and we are together then everything is possible.
                        </p>
                        <br>
                    </div>
                    </div>
                </div>
                </div>
            </div>
</section>
        {{>footer}}
    </main>
</body>