<body>
    <main>
        {{>header}}
        {{{pageHeaderImg clearPaper}}}
        <section class="blog">
            <div class="container">
                <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="post single">
                    <figure class="post-image">
                        <img src="/images/clear_paper.webp" alt="Image" />
                    </figure>
                    <div class="post-content">
                        <h3 class="post-title" style="font-size: 5em">Clear Paper</h3>
                        <p>
                            The clear paper is focused for a clean environment
                            and  human’s who suffers. It's our contribution to nature and  to save the world. Its target is to organize a proper way to maintain our waste and environment.
                            Also, help with human rights and resources.
                            All together that was an organization that fights for humans and their rights alongside maintain environment and its wisdom.
                        </p>
                        <br>
                        <p>
                            The thinking or properties can’t be defined our perspective is challenging but  it is simple
                            The way of us has crossed our community  some way but if that’s going on we will destroy our self by own.
                            We wanted to think for a proper waste management to stop dropping our waste to anywhere or our mother river Ganga and stop distraction of our breathing air factories  as rapidly we cutting them as fast we lose our oxygen.
                            Also, for humans who suffer from food and needs we tried to be help them.
                            If we only try we fail soon but if you and we are together then we can.
                            think what is our home?
                            Is that your apartment or property where you live or the whole world
                        </p>
                        <br>
                        <p>
                            think again ………
                        </p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
        {{>footer}}
    </main>
</body>