<body>
    <main>
        {{>header}}
        {{{pageHeaderImg contact}}}
        <section class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <h3 class="section-title">SAY HELLO <br>TO REACH US</h3>
                    </div>
                    <!-- end col-5 -->
                    <div class="col-lg-4 col-md-6">
                        <h6>Main Outlet</h6>
                        <address>
                            289, Sarat Chatterjee Rd, Mandirtala, Shibpur<br>
                            Howrah, West Bengal 711102
    		</address>
                    </div>
                    <!-- end col-4 -->
                    <div class="col-lg-3 col-md-6">
                        <h6>REACH US</h6>
                        <address>
    			<p>+91 9836928210 <br> +91 9007471627</p>
    			<a href="#">contact@stnon.in</a>
    		</address>
                    </div>
                    <!-- end col-3 -->
                    <div class="col-lg-5">
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d516.9344252081756!2d88.31164741793924!3d22.568263511923366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02796c8ecc1dd3%3A0x4a61549123a5c402!2sSTNON%20INFOTECH!5e0!3m2!1sen!2sin!4v1641476183028!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                        <!-- end map -->
                    </div>
                    <!-- end col-5 -->
                    <div class="col-lg-7">
                        <div class="contact-form">
                            <form id="contact" name="contact" method="post">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" autocomplete="off" required>
                                    <span>Your name</span>
                                </div>
                                <!-- end form-group -->
                                <div class="form-group">
                                    <input type="text" name="email" id="email" autocomplete="off" required>
                                    <span>Your e-mail</span>
                                </div>
                                <!-- end form-group -->
                                <div class="form-group">
                                    <input type="text" name="subject" id="subject" autocomplete="off" required>
                                    <span>Subject</span>
                                </div>
                                <!-- end form-group -->
                                <div class="form-group">
                                    <textarea name="message" id="message" autocomplete="off" required></textarea>
                                    <span>Your message</span>
                                </div>
                                <!-- end form-group -->
                                <div class="form-group">
                                    <button id="submit" type="submit" name="submit">
                                        <strong>Submit Now<b></b> <i></i></strong>
                                    </button>
                                </div>
                                <!-- end form-group -->
                            </form>
                            <!-- end form -->
                            <div class="form-group">
                                <div id="success" class="alert alert-success" role="alert"> Your message was sent successfully! We will be in touch as soon as we can. </div>
                                <!-- end success -->
                                <div id="error" class="alert alert-danger" role="alert"> Something went wrong, try refreshing and submitting the form again. </div>
                                <!-- end error -->
                            </div>
                            <!-- end form-group -->
                        </div>
                        <!-- end contact-form -->
                    </div>
                    <!-- col-7 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
    </main>
    {{>footer}}
</body>