<body>
    <main>
        {{>header}}
        {{{pageHeaderImg dreamy}}}
       <section class="blog">
            <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
            <div class="post single">
                <figure class="post-image">
                <img src="/images/dreamy.webp" alt="Image" />
                </figure>
                <div class="post-content">
                <h3 class="post-title" style="font-size: 5em">Dreamy</h3>
                <span><b>A Short Video Platform</b></span> <br><br>
                <p><b>
                    “ The reason to thinking of making DREAMY is kind of hunt for talents ”
                </b></p>
                <p>
                   In the last decade of 2019, we have seen a popular app that was amazing among youths which was a kind of combination of fun and talent.
                   In India, Which was so much popular that it breaked every limit of caste and gender. 
                </p> <br>
                <p>
                    We have seen youths have shown their talent together. But after the cold war, that app was banned. Yes they are collecting our data that becomes harmful any time for us but we made fun and there were some people who wanted to be popular.
                </p> <br>
                <p>
                Some can sing, some can act, some can do something different.
                That app is a single platform where anyone can be popular and anyone can show their talent.
                Not every person had that chance to work in cinema’s  or express them to the nation. 
                Their talent was simply hidden and ultimately disappeared . That app makes a chance to do so.  All was open for the world now just in a click upload  no boundaries  they had.
                But ultimately that stops for many reasons.
                </p> <br>
                So we made  Dreamy, an app that can do so again.
                It’s a short video relay app but it is not short because it’s all about togetherness and fun. Anyone can express their talent, communication, innovation, funkiness and love.
                The more I tell your suspense becomes lost so wait for that.
                </div>
            </div>
            </div>
        </div>
        </div>
       </section>
        {{>footer}}
    </main>
</body>