<body>
    <main>
        {{>header}}
        {{{pageHeaderImg error}}}
        <section class="blog">
            <div class="container">
                <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="post single">
                    <div class="post-content">
                        <h3 class="post-title" style="font-size: 5em">ERROR 404</h3>
                        <p>What are you looking for?</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </section>
    </main>
</body>