<body>
    {{>preloader}}
    
    <main>
        {{>header}}
       
        {{{pageHeaderImg home}}}
      
         <!-- end slider -->
        <section class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 wow" data-splitting>
                        <h3 class="section-title">HOW WE THINK <br> DIFFERENT</h3>
                        <a href="#">stnoninfotech@gmail.com</a> </div>
                    <!-- end col-5 -->
                    <div class="col-lg-7 wow" data-splitting>
                        <p>The calculas of innovation is really quite simple.
                            Knowledge drives innovation, Innovation drives Productivity, 
                            Productivity drives economic growth.
                        </p>
                        <h6>William Brody</h6>
                        <small>Scientist</small> <b>5</b>
                        <h4>YEARS OF<br> WORK EXPERIENCE</h4>
                    </div>
                    <!-- end col-7 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end intro -->
        <section class="intro-image">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="office-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <figure class="reveal-effect masker wow"> <img src="images/innovate.webp" alt="Image">
                                        <figcaption>
                                            <h6>INNOVATE</h6>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- end swiper-slide -->
                                <div class="swiper-slide">
                                    <figure> <img src="images/discover.webp" alt="Image">
                                        <figcaption>
                                            <h6>DISCOVER</h6>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- end swiper-slide -->
                                <div class="swiper-slide">
                                    <figure> <img src="images/develope.webp" alt="Image">
                                        <figcaption>
                                            <h6>DEVELOPE</h6>
                                        </figcaption>
                                    </figure>
                                </div>
                                 <div class="swiper-slide">
                                    <figure> <img src="images/protect.webp" alt="Image">
                                        <figcaption>
                                            <h6>PROTECT</h6>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- end swiper-slide -->
                            </div>
                            <!-- end swiper-wrapper -->
                            <div class="swiper-pagination"></div>
                            <!-- end swiper-pagination -->
                        </div>
                        <!-- end office-slider -->
                    </div>
                    <!-- end col-12 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end intro-image -->
        <section class="icon-content-block">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 wow" data-splitting>
                        <h3 class="section-title">THE THINGS<br> WE ARE ABLE TO DO</h3>
                    </div>
                    <!-- end col-12 -->
                    <div class="col-lg-3 col-md-4 wow" data-splitting>
                        <div class="content-block">
                            <figure> <img src="images/services.gif" alt="Image"> </figure>
                            <h6>Hardware Products</h6>
                            <ul>
                                <li>Desktop Laptop Repairing</li>
                                <li>Manufacturing</li>
                                <li>Circuit Design</li>
                                <li>Developement</li>
                            </ul>
                        </div>
                        <!-- end content-block -->
                    </div>
                    <!-- end col-3 -->
                    <div class="col-lg-3 col-md-4 wow" data-splitting>
                        <div class="content-block">
                            <figure> <img src="images/security.png" alt="Image"> </figure>
                            <h6>Securtiy Products</h6>
                            <ul>
                                <li>CCTV </li>
                                <li>Video Door Phone</li>
                                <li>Alarm System</li>
                                <li>Smoke Gas Detectors</li>
                                <li>Smart Home Solutions</li>
                            </ul>
                        </div>
                        <!-- end content-block -->
                    </div>
                    <!-- end col-3 -->
                    <div class="col-lg-3 col-md-4 wow" data-splitting>
                        <div class="content-block">
                            <figure> 
                                <!-- <img src="images/application.png" alt=""> -->
                                <img src="images/coding.gif" alt="Image"> </figure>
                            <h6>APPLICATION DEVELOPMENT</h6>
                            <ul>
                                <li>Web Developement</li>
                                <li>Mobile App Developement</li>
                                <li>Custom Developement</li>
                                <!-- <li>UI/UX Design</li> -->
                            </ul>
                        </div>
                        <!-- end content-block -->
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end icon-content-block -->
        <section class="works">
            <ul>
                <li>
                    <figure class="reveal-effect masker wow"> <a href="/projects/ssl"><img src="/images/ssl.webp" alt="Image"></a> </figure>
                    <div class="caption wow" data-splitting>
                        <h3>SSL</h3>
                        <small>Software Division</small> </div>
                    <!-- end caption -->
                </li>
                <li>
                    <figure class="reveal-effect masker wow"> <a href="/projects/scl"><img src="/images/scl.webp" alt="Image"></a> </figure>
                    <div class="caption wow" data-splitting>
                        <h3>SCL</h3>
                        <small>Hardware Division</small></div>
                    <!-- end caption -->
                </li>
                <li>
                    <figure class="reveal-effect masker wow"> <a href="/projects/anywhere"><img src="/images/anywhere.webp" alt="Image"></a> </figure>
                    <div class="caption wow" data-splitting>
                        <h3>Anywhere</h3>
                        <small>Social Intregation Division</small> </div>
                    <!-- end caption -->
                </li>
                <li>
                    <figure class="reveal-effect masker wow"> <a href="/projects/razder"><img src="/images/razder.webp" alt="Image"></a> </figure>
                    <div class="caption wow" data-splitting>
                        <h3>Razder</h3>
                        <small>Futeristic Electric Concept Car</small> </div>
                    <!-- end caption -->
                </li>
                <li>
                    <figure class="reveal-effect masker wow"> <a href="/projects/life-is-a-gift/clear-paper"><img src="/images/clear_paper.webp" alt="Image"></a> </figure>
                    <div class="caption wow" data-splitting>
                        <h3>Clear Paper</h3>
                        <small>.</small> </div>
                    <!-- end caption -->
                </li>
                <li>
                    <figure class="reveal-effect masker wow"> <a href="/projects/stf"><img src="/images/stf.jpeg" alt="Image"> </a></figure>
                    <div class="caption wow" data-splitting>
                        <h3>Stnon Fashion</h3>
                        <small>.</small> </div>
                    <!-- end caption -->
                </li>
            </ul>
        </section>
        <!-- end works -->
       
        <!-- end clients -->
    </main>
    <!-- end main -->
    {{>footer}}
    
</body>