<body>
    <main>
        {{>header}}
        {{{pageHeaderImg im}}}
        <section class="blog">
             <div class="container">
            <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="post single">
                            <figure class="post-image">
                                <img src="/images/im.webp" alt="Image">
                            </figure>
                            <div class="post-content">
                                <h3 class="post-title" style="font-size: 5em;">I'M</h3>
                                <span><b>A Messaging App</b></span> <br> <br>
                                <h3>Our creation</h3>
                                <p>            
                                Nowadays we use private messaging apps most of the time. In the app, we can text, talk, and make bonding with our family and friends.
                                In our busy lives, one of the fastest ways of communicating with others is a private messenger app.
                                The reason behind making I'M is very simple, keep our information to ourself without relying on outsiders
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </section>
        {{>footer}}
    </main>
</body>