<body>
    <main>
        {{>header}}
        {{{pageHeaderImg live}}}
        <section class="blog">
              <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                <div class="post single">
                    <figure class="post-image">
                    <img src="/images/live.webp" alt="Image" />
                    </figure>
                    <div class="post-content">
                    <h3 class="post-title" style="font-size: 5em">LIVE</h3>
                    <span><b>A Live Video Conference App</b></span> <br><br>
                    <p><b>
                     “live is for Officials who officially communicate and work for a goal “  
                    </b></p> <br>
                    <p>
                        It’s a video conference app.
                    </p> <br>
                    <p>
                      In the situation of covid 19, we’ve seen we can work from our home. We can complete our goals or virtually communicate with our working friends. The future of workstation or our office is now on our desk or in our hands. Wherever, whenever we can work.
                    </p> <br>
                    <p>
                       Many among us used video conference apps for our official and unofficial meetings. leading users are school’s, office’s and governmental ministries; they just depend now on online meeting apps.
                    </p> <br>
                    <p>But the apps we use all belong to other countries. Our data is somehow at risk so we wanted to make our app which belongs to our incredible India. Now connect your office crew, your classmates, your students, your co-members, family, friends in one platform Which is safe and secure by the trust of India.
                    </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </section>
        {{>footer}}
    </main>
</body>