<body>
    <main>
        {{>header}}
        {{{pageHeaderImg notes}}}
        <section class="blog">
            <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
            <div class="post single">
                <figure class="post-image">
                <img src="/images/notes.webp" alt="Image"/>
                </figure>
                <div class="post-content">
                <h3 class="post-title" style="font-size: 5em">NOTES</h3>
                <span><b>An Online Learning Platform</b></span> <br><br>
                <p><b>
                    “Note is an app designed for education and innovation”
                </b></p> <br>
                <p>
                    Our focus is simple education is a gift and still there in India some peoples are un educated the reason is disappointing to still one 4th of our population is suffering from food and work crisis that can’t be solved easily at list more 20 years and one 3rd  of our population is poor and money crises is a major issue that’s why child labor cases increase and many of them didn’t have food to be eaten in that case education is just a dream for them.
                </p> <br>
                <p>
                    Our focus is simple education is a gift and still there in India some peoples are un educated the reason is disappointing to still one 4th of our population is suffering from food and work crisis that can’t be solved easily at list more 20 years and one 3rd  of our population is poor and money crises is a major issue that’s why child labor cases increase and many of them didn’t have food to be eaten in that case education is just a dream for them.
                </p> <br>
                <p>
                    So that’s why we decided to make an app for learning and also it had an extra feature for nearby job searching and more features will be disclosed after the launch so just wait for it.
                    Learning is for everyone, education is for every person. We are just on a mission to make India great, find diamonds and educate more people.
                </p> <br>
                <p>
                    Yes, it’s tough but if we are confident then anything will become possible.    
                </p>
                </div>
            </div>
            </div>
        </div>
        </div>
        </section>
        {{>footer}}
    </main>
</body>