<body>
    <main>
        {{>header}}
        {{{pageHeaderImg razder}}}
        <section class="blog">
            <div class="container">
                <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="post single">
                    <figure class="post-image">
                        <img src="/images/razder.webp" alt="Image" />
                    </figure>
                    <div class="post-content">
                        <h3 class="post-title" style="font-size: 5em">Razder</h3>
                        <span><b>Futeristic Electric Concept Car</b></span> <br>
                        <p>
                            Razder is a concept future car and one of our targets to be achieve
                            It's an electric vehicle company.
                        </p> <br>
                        <figure class="image-left"><img src="/images/car.webp" alt="Image"></figure>
                        <p>
                            It's focused on making a green vehicle whose ignition can't produce any carbon footprint.
                            When we started our journey from that time we worked on that concept.
                            We’ve seen the current fuel crisis and  increasing rates of petrochemical products.
                            And also increasing levels of greenhouse gasses caused by the petroleum.
                            Every time we start our vehicle, it simply affects our nature and gradually destroys the ozone layer .
                        </p>
                        <br>
                        <p>
                           We have to find  another way to produce energy sources for our machinery and industries.
                            Electric energy which we can generate from our unlimited power source
                            made by our creator. The Sun.
                        </p>
                        <br>
                        <p>
                            We just want to start the project as soon as possible.
                            But the main challenge is financial problems.
                            We are confident that we can do anything.
                        </p>
                        <br>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
        {{>footer}}
    </main>
</body>