<body>
    <main>
        {{>header}}
        {{{pageHeaderVid scl}}}
        <section class="blog">
            <div class="container">
            <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="post single">
                            <figure class="post-image">
                                <img src="/images/scl.webp" alt="Image">
                            </figure>
                            <div class="post-content">
                                <h3 class="post-title" style="font-size: 5em;">SCL</h3>
                                <span><b>Computer Hardware Division</b></span> <br><br>
                                <p><b>
                                 SCL is a company focused on making computing hardware in India. 
                                </b></p> <br>
                                <p>
                                Thanks to the Digital India initiative, Many tech companies are introducing. 
                                But the main fact is, they are from different countries.
                                </p> <br>
                                <p>
                                They sell their products as Indian Product. And also printed as "Make In india" for the sake of reducing some government tax . In Reality they bring parts from different countries,  assemble and packaging here. Pretend To be an Indian Company.
                                </p> <br>
                                <p>
                                    In the current situation very few true Indian tech companies are left, and they are fighting to survive for their existence. 
                                    What's the reason? Simply, lack of innovation and support.
                                </p> <br>
                                <p>
                                    On the other side, 
                                    World’s leading tech companies have many great engineers and innovators, who belong from our nation.
                                    But why do they choose a different country? Reason is simple: they don’t have any such options to choose from. It's quite tough here for someone who wants to prove himself or herself.
                                </p> <br>
                                <p>
                                    SCL(Stnon Computer Limited) wants to become a real Indian brand whose quality and capabilities can talk. Also set to a benchmark of new level of computing and raising the capability to produce computer hardware products. 
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </section>
        {{>footer}}
    </main>
</body>