<body>
    <main>
        {{>header}}
        {{{pageHeaderImg ssl}}}
        <section class="blog">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="post single">
                <figure class="post-image">
                    <img src="/images/ssl.webp" alt="Image" />
                </figure>
                <div class="post-content">
                    <h3 class="post-title" style="font-size: 5em">SSL</h3>
                    <span><b>Software Developement Division</b></span>
                    <p>We’re on a mission to gather a group of technologists, engineers, designers, and thinkers to make a new edge.
                        Create a powerful nation not just pretend The race for digital transformation is on. 
                        In this globally connected on-demand world with rapid advancements in the internet.
                        </p> <br>
                        <figure class="image-left"><img src="/images/software.webp" alt="Image"></figure>
                    <p>
                        Technologies, businesses of worldwide are under constant pressure to add innovative real-time capabilities to their applications to respond to market opportunities.
                        We’re relentlessly curious about all the ways how computing can change the world.
                        We’re currently obsessed with advancing the state of the art in AI and hybrid cloud and defining the future of quantum computing.
                        The the confluence of the technologies we’re building represents a step-change in computing that will surpass anything we’ve seen before.
                        Together, they can exponentially alter the speed and scale at which we can uncover solutions to complex problems.
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-9">
            <h3 style="font-size: 3em;">Our Projects</h3>
            <div class="post">
                <figure class="post-image">
                <img src="/images/astika.webp" alt="Image" />
                </figure>
                <div class="post-content">
                <h3 class="post-title"><a href="#">Astika</a></h3>
                <span><b>A Crypto Coin</b></span> <br> <br>
                <a href="/projects/ssl/astika" class="post-link">READ MORE</a>
                </div>
            </div>

            <div class="post">
                <figure class="post-image">
                <img src="/images/kapalin.webp" alt="Image" />
                </figure>
                <div class="post-content">
                <h3 class="post-title"><a href="#">Kapalin</a></h3>
                <span><b>A Linux based OS</b></span> <br> <br>
                <a href="#" class="post-link">READ MORE</a>
                </div>
            </div>

            <div class="post">
                <figure class="post-image">
                <img src="/images/annie.webp" alt="Image" />
                </figure>
                <div class="post-content">
                <h3 class="post-title"><a href="#">Annie</a></h3>
                <span><b>An Artificial Intelligence</b></span> <br> <br>
                <a href="#" class="post-link">READ MORE</a>
                </div>
            </div>
            <div class="post">
                <figure class="post-image">
                <img src="/images/mediafire.webp" alt="Image" />
                </figure>
                <div class="post-content">
                <h3 class="post-title"><a href="#">Media Fire</a></h3>
                <span><b>An OTT Platform</b></span> <br> <br>
                <a href="#" class="post-link">READ MORE</a>
                </div>
            </div>
        </div>
        </div>

        </section>
        {{>footer}}
    </main>
</body>