<body>
    <main>
        {{>header}}
        {{{pageHeaderVid stf}}}
        <section class="blog">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="post single">
                <figure class="post-image">
                    <img src="/images/stf.jpeg" alt="Image" />
                </figure>
                <div class="post-content">
                    <h3 class="post-title" style="font-size: 5em">Stnon Fashion</h3><br><br>
                    <h3>Our vision </h3>
                    <p>
                        In STNON FASHION The freedom of expression through apparel opens up the world of fashion to combinations and imagination never seen before.
                    </p>
                    <br>
                    <p>
                        Fashion plays an important role in the life of every woman & Men. It is an art and articulating the power of fashion into words can be challenging. Although, when in doubt, it is always smart to look up to fashion inspirations, take their advice, and mark their words of wisdom.
                    </p>
                    <br>
                    <h3>Way of inspiration</h3>
                    <p>
                        Fashion is as much about the people who wear the clothes as the garments themselves, and the best fashion copywriters never forget that fact. The freedom of expression through apparel opens up the world of fashion to combinations and imagination never seen before. We can be avant-garde to our authentic self, best expressed through a twist on a classic Way.
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
</section>
        {{>footer}}
    </main>
</body>