<body>
    <main>
        {{>header}}
        {{{pageHeaderImg we}}}
        <section class="blog">
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                <div class="post single">
                    <figure class="post-image">
                    <img src="/images/we.webp" alt="Image" />
                    </figure>
                    <div class="post-content">
                    <h3 class="post-title" style="font-size: 5em">WE</h3>
                    <spna><b>A Social Media Platform</b></spna> <br> <br>
                    <p>
                       We are inspired by us.  It isn’t  just togetherness and fun in a package. 
                    </p><br>
                    <p>
                        There is so much more we could do. Even though it is tough to understand by words. In short, social networking is a platform where we can make communication, share ideas.
                    </p> <br>
                    <p>
                        In our busy lives most of the time we spend most of the time in our working zone. So we can't even meet with our friends and family. Sometimes we don't have enough time to call anybody. We don't  have enough information about our  family or friends . Where are they? whether they are good?  How did they spend their Christmas or the past week? Now the way we are moving forward , many of our old friends are not  close enough to save their contacts or can't even properly remember their faces.
                    </p> <br>
                    <p>
                      Suddenly, when we see our old friends on social media, the happiness of remembering old memories and moments we spent with them, which is not described in words. Also we make new friends on social media and make bonding with them.  
                    </p>
                    <br>
                    <p>
                        We humans always search for happiness. Because, we feel lonely in a very short time without friends. Social media is part of our modern life. 
                    </p>
                    <br>
                    <p>
                        So, this is the reason for making “WE”, where we find our happiness.
                    </p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
        {{>footer}}
    </main>
</body>