<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul>
          <li><a
              href="https://www.facebook.com/STNON-ComputersLTD-102640971590219/"
            ><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.instagram.com/stnoninfo.in/"><i
                class="fab fa-instagram"
              ></i></a></li>
          <li><a
              href="https://twitter.com/stnoninfotech?t=EPXQ1Q4kNupaT3sc5H5Pjw&s=08"
            ><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://g.page/r/CQLEpSORVGFKEBA"><i
                class="fab fa-google-plus-g"
              ></i></a></li>
        </ul>
        <h6>LET’S HAVE A TALK ABOUT OUR VISION.</h6>
        <h2>Need more information or want <br /> to get in touch?</h2>
        <a href="/contact" class="link">Get in touch</a>
      </div>
      <!-- end col-12 -->
      <div class="col-12">
        <div class="footer-bar">
          <span class="copyright">© 2021 Stnon | All Rights Reserved</span>
          <span class="creation">Proud to be Indian
            <img src="/images/india.png" alt="" /></span>
        </div>
        <!-- end footer-bar -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- end footer -->