        <div class="page-transition">
            <div class="layer"></div>
            <!-- end layer -->
        </div>
        <!-- end page-transition -->
        <nav class="site-navigation">
            <div class="layer"></div>
            <!-- end layer -->
            <div class="inner">
                <ul data-splitting>
                    <li><a href="/">HOME</a><small>First page</small></li>
                    <li>
                        <a href="#">SHOWCASES</a> <i class="fas fa-caret-down"></i><small>Project Catalouges</small>
                        <ul>
                        <li><a href="/projects/ssl">SSL</a></li>
                        <li><a href="/projects/scl">SCL</a></li>
                        <li><a href="/projects/anywhere">ANYWHERE</a></li>
                        <li><a href="/projects/razder">RAZDER</a></li>
                        <li><a href="/projects/stf">STNON FASHION</a></li>
                    </ul>
                    </li>
                    <li><a href="/about">ABOUT</a> <small>All About Us</small> </li>
                    <li><a href="/contact">CONTACT</a> <small>Say hello</small> </li>
                </ul>
            </div>
            <!-- end inner -->
        </nav>
        <!-- end site-navigation -->
        <div class="social-media">
            <div class="layer"> </div>
            <!-- end layer -->
            <div class="inner">
                <h5>Social Share </h5>
                <ul>
                    <li><a href="https://www.facebook.com/STNON-ComputersLTD-102640971590219/"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/stnoninfo.in/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/stnoninfotech?t=EPXQ1Q4kNupaT3sc5H5Pjw&s=08"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://g.page/r/CQLEpSORVGFKEBA"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- end social-media -->
        <div class="all-cases">
            <div class="layer"> </div>
            <!-- end layer -->
            <div class="inner">
                <ul>
                    <li><a href="/projects/anywhere/im">I'M</a></li>
                    <li><a href="/projects/anywhere/we">WE</a></li>
                    <li><a href="/projects/anywhere/live">LIVE</a></li>
                    <li><a href="/projects/anywhere/dreamy">DREAMY</a></li>
                    <li><a href="/projects/anywhere/notes">NOTES</a></li>
                    <li><a href="/projects/ssl/astika">ASTIKA</a></li>
                    <li><a href="/projects/razder">RAZDER</a></li>
                    <li><a href="/projects/stf">STNON FASHION</a></li>
                    <li><a href="/projects/life-is-a-gift/clear-paper">CLEAR PAPER</a></li>
                </ul>
            </div>
            <!-- end inner -->
        </div>
        <!-- end all-cases -->

        <aside class="left-side">
            <div class="logo"> <a href="/"><img src="/images/stnon.png" alt="Image"></a></div>
            <!-- end logo -->
            
            <div class="hamburger" id="hamburger">
                    <img class="right" src="/images/menu_1r.png">
                </div>
            </div>
            <!-- end hamburger -->
            <div class="follow-us"> FOLLOW US </div>
            <!-- end follow-us -->
            <div class="equalizer paused"> <span class="rgb"></span> <span></span> <span></span> <span></span> </div>
            <!-- end equalizer -->
        </aside>
        <!-- end left-side -->
        <div class="all-cases-link"> 
            <span>ALL PROJECT</span> 
            <div class="button">
                <b>S</b>
                <div class="hex">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="hex">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <!-- end all-cases-link -->
       