<div class="preloader">
        <div class="layer"></div>
        <!-- end layer -->
        <div class="inner">
            <figure> <img class="plogo" src="images/stnon.png" alt="Image"> </figure>
            <figure> <img src="images/preloader_1.gif" alt="Image"> </figure>
            <span>Loading</span> </div>
        <!-- end inner -->
    </div>
    <!-- end preloader -->