<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>STNON TECHNOLOGIES</title>
    <meta name="author" content="Stnon" />
    <meta
      name="description"
      content="Stnon Technologies | Create Your Own Destiny"
    />
    <meta
      name="keywords"
      content="IT Services & Consultant, it services & sales, software developement, web developement, hardware developement"
    />

    <!-- SOCIAL MEDIA META -->
    <meta
      property="og:description"
      content="Stnon Technologies | Create Your Own Destiny"
    />
    <meta
      property="og:image"
      content="https://www.stnon.in/images/preview.png"
    />
    <meta property="og:site_name" content="Stnon Technologies" />
    <meta property="og:title" content="stnon" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.stnon.in" />

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@stnon" />
    <meta name="twitter:creator" content="@stnon" />
    <meta name="twitter:title" content="stnon" />
    <meta
      name="twitter:description"
      content="Stnon Technologies | Create Your Own Destiny"
    />
    <meta
      name="twitter:image"
      content="https://www.stnon.in/images/preview.png"
    />

    <!-- FAVICON FILES -->
    <link
      href="ico/apple-touch-icon-144-precomposed.png"
      rel="apple-touch-icon"
      sizes="144x144"
    />
    <link
      href="ico/apple-touch-icon-114-precomposed.png"
      rel="apple-touch-icon"
      sizes="114x114"
    />
    <link
      href="ico/apple-touch-icon-72-precomposed.png"
      rel="apple-touch-icon"
      sizes="72x72"
    />
    <link
      href="ico/apple-touch-icon-57-precomposed.png"
      rel="apple-touch-icon"
    />
    <link href="ico/favicon.ico" rel="shortcut icon" />

    <!-- CSS FILES -->
    <link rel="stylesheet" href="/vendor/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/vendor/css/fancybox.min.css" />
    <link rel="stylesheet" href="/css/odometer.min.css" />
    <link rel="stylesheet" href="/css/swiper.min.css" />
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    {{{body}}}
    <script src="/vendor/js/jquery.min.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/splitting.min.js"></script>
    <script src="/js/odometer.min.js"></script>
    <script src="/vendor/js/fancybox.min.js"></script>
    <script src="/js/scripts.js"></script>
    <!-- JS FILES -->
  </body>
</html>